body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.google-signin-btn {
  display: inline-block;
  width: 250px;
  height: 60px;
  background-image: url('./features/login/images/btn_google_signin_dark_normal_web@2x.png');
  background-size: 250px 60px;
  background-repeat: no-repeat;
  align: center;
}

.google-signin-btn:active {
  background-image: url('./features/login/images//btn_google_signin_dark_pressed_web@2x.png');
}

.toolbar-container {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.box {
  height: 65px;
}

.text {
  font-size: 1em;
  margin: 10px;
}
